<!-- Header -->
<div class="top" ng-controller="StacksController as stackCtrl">
    <div class="ui two item fluid menu top fixed container" id="head"> 
        <div class="header item" id="header"> < Code Review > </div>
            <!-- <div class="item" id="usersname">Hello, {{username}}</div> -->
            <!-- <a class="item" id="logout">Logout</a> -->
        </div>
    </div>
</div>  

<div class="item" id="saying">Your home for web development study!</div>

<div class="ui grid container">
    <div class="centered seven wide stackable column" id="categoryList">
        <button class="ui black basic button" id="category">Categories:</button>
        <a ui-sref="study"><button class="ui violet basic button" id="violet">HTML/CSS</button></a>
        <a ui-sref="study"<button class="ui green basic button" id="green">JavaScript</button></a> 
        <a ui-sref="study"<button class="ui blue basic button" id="blue">Ruby on Rails</button></a>
    </div>
    <div class="centered seven wide column">
        <div class="ui raised segment" id="loginSection">
            <h4>Sign up or login to make your own flashcards!</h4>
            <a href="/login"><button class="ui black button" id="log">Login</button></a>
            <a href="/signup"><button class="ui black button" id="log">Signup</button></a>
        </div>
    </div>
</div>