<!-- Build your own stack of flashcards -->

<div class="top" ng-controller="StacksController as stackCtrl">
    <div class="ui four item fluid menu top fixed container" id="head2"> 
        <a ui-sref="home"><div class="header2 item" id="header2"> < Code Review > </div></a>
        <!-- <div class="item" id="usersname">Hello, {{username}}</div> -->
        <div class="item" id="saying2">Your home for web development study!</div>
        <a ui-sref="home" class="item" id="logout">Logout</a>
    </div>
</div> 

<div class="ui three column grid">
    <div class="row">
        <div class="column">
            <a ui-sref="user"><button class="ui left labeled icon button" id="back">
                <i class="left arrow icon"></i>
                Back
            </button></a>
        </div>
        <div class="column">
            <div class="row" id="label3">
                <div class="ui form">
                    <div class="field">
                        <label id="category">New Category:</label>
                    </div>
                    <div class="row">
                        <input type="text" placeholder="New Category..." id="textarea">
                    </div>
                </div>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>

<div class="ui two column grid">
    <div class="row" id="cardInfo">
        <div class="column">
            <div class="ui form" id="new2">
                <div class="form-group">
                    <div class="row" id="label">
                        <label for="term">Term:</label>
                    </div>
                    <div class="row">
                        <input type="text" placeholder="Term..." name="term" id="textarea2" class="form-control" ng-model="formData.term">
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui form" id="new3">
                <div class="field2">
                    <div class="row" id="label2">
                        <label>Defintion:</label>
                    </div>
                    <div class="row">
                        <input type="text" placeholder="Definition..." id="textarea3" ng-model="formData.definition">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui three column grid">
    <div class="row">
        <div class="column" >
            <div class="flash" id="newFlashcardPlacement">
                <div class="ui piled segment" id="makeFlashcard">
                    <div>
                        <h4>
                            {{ formData.term }}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    <div class="column" >
        <div class="row">
            <div class="add card" id="add">
                <i class="big add circle icon"></i>
                <h6>Add Card</h6>
            </div>
        </div>
        <div class="row">
            <div class="done">
                <i class="big checkmark icon"></i>
                <h6>Done</h6>
            </div>
        </div>
    </div>
        <div class="column" >
            <div class="flash" id="newFlashcardPlacement2">
                <div class="ui piled segment" id="makeFlashcard">
                    <div>
                        <h4>
                            {{ formData.definition }}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

