<!-- Show one flashcard at a time  http://localhost:3000/#study -->

<!-- Header -->
<div class="top" ng-controller="StacksController as stackCtrl">
    <div class="ui four item fluid menu top fixed container" id="head2"> 
        <a ui-sref="home"><div class="header2 item" id="header2"> < Code Review > </div></a>
        <!-- <div class="item" id="usersname">Hello, {{username}}</div> -->
        <div class="item" id="saying2">Your home for web development study!</div>
        <a ui-sref="home" class="item" id="logout">Logout</a>
    </div>
</div> 

<section ng-controller="StacksController as stackCtrl">
  <div class="column" id="flashcardPlacement">
    <div class="flash">
        <div class="ui piled segment" id="flashcard">
            <div>
                <h3 ng-show="showCard">
                    {{stackCtrl.currentCard.term}}
                </h3>
                <h3 ng-show="!showCard">
                    {{stackCtrl.currentCard.definition}}
                </h3>
            </div>
        </div>
    </div>
  </div>
  <div class="column" id="buttonPlacement">
    <i class="fa fa-thumbs-down fa-4x" id="thumbsdown" ng-click="stackCtrl.nextCard()"></i>
    <i class="fa fa-repeat fa-4x" id="flip" ng-click="showCard = !showCard"></i>
    <i class="fa fa-thumbs-up fa-4x" id="thumbsup" ng-click="stackCtrl.nextCard()"></i>
  </div>
</section>
