body {
    padding: 50px;
    padding-top:80px; 
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#saying{
    width: 500px;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    font-size: 26px;
}
#saying2{
    max-width: 500px;
    text-align: center;
    width: 100%;
    background-color: #2e2e2e;
    color: white;
    font-style: italic;
    font-size: 26px;
}
#header, #header2{
    font-size: 45px;
    background-color: #2e2e2e;
    color: #cacbcd;
    font-weight: normal;
    width: 100%;
    max-width: 500px;
}
#head, #head2{
    background-color: #2e2e2e;
}
.item{
    font-size: 20px;
}
.header{
    font-size: 45px;
    background-color: #2e2e2e;
    min-width: 800px;
}
#usersname, #logout{
    max-width: 200px;
}
#logout{
    background-color: #2e2e2e;
    color: #cacbcd;
}
#logout:hover{
    background-color: #cacbcd;
    color: black;
    font-weight: bold;
}
.ui.menu .item{
    padding: 10px;
    background-color: #eaeaea;
    color: black;
}
.ui.segment{
    text-align: center;
    padding: 50px 40px;
    height: auto;
}
h4{
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 30px;
}
#log{
    margin: 10px;
    font-size: 20px;
    min-width: 200px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: normal;
    background-color: white;
    color: black;
    border: 1px solid #2e2e2e;
}
#log:hover{
    background-color: #2e2e2e;
    color: white;
    border: 1px solid black;
}
.ui.basic.button{
    min-width: 350px !important;
    padding: 12px;
    margin: 10px;
    font-size: 18px;
}
#violet, #green, #blue, #black{
    border: 1.5px solid;
    font-size: 20px;
    font-weight: bold;
}
#violet:hover{
    background-color: #6435c9 !important;
    color: white !important;
}
#green:hover{
    background-color: #21ba45 !important;
    color: white !important;
}
#blue:hover{
    background-color: #2185d0 !important;
    color: white !important;
}
#black:hover{
    background-color: black !important;
    color: white !important;
}
#category{
    text-align: center;
    box-shadow: none !important;
    font-size: 26px;
    font-weight: bold;
}
#loginSection{
    margin-top: 50px;
    margin-right: 40px;
    color: #2e2e2e;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    /*border: 2px solid #2e2e2e;;*/
}
#categoryList{
    margin-top: 30px;
    margin-left: 40px;
}
#flashcard{
    height: 300px;
    width: 500px;
    padding: 0px;
}
h3{
    vertical-align: middle;
    margin-top: 100px !important;
    font-size: 24px;
    padding: 0 30px;
}
h4{
    vertical-align: middle;
    margin-top: 20px !important;
    font-size: 24px;
    padding: 0 30px;    
}
.fa{
    height: auto;
    width: auto;
    margin: 10px;
    margin-left: 30px;
}
#buttonPlacement{
    margin: auto;
    width: 50%;
    margin-right: 180px;
}
#thumbsup{
    color: green;
    cursor: pointer;
}
#thumbsdown{
    color: red;
    cursor: pointer;
}
#flip{
    color: #2e2e2e;
    cursor: pointer;
}
#flashcardPlacement{
    margin: auto;
    width: 50%;
    margin-top: 75px;
}
#userCategory{
    margin: auto;
    width: 50%;
    margin-top: 30px;
}
#back{
    background-color: #2e2e2e;
    color: #cacbcd;
    padding: 15px;
    font-size: 18px;
}
.done, #add{
    margin: 20px;
    text-align: center;    
}
#textarea{
    width: 300px;
}
#textarea2{
    width: 300px;
    margin-left: 65px;
}
#textarea3{
    width: 300px;
    margin-left: 220px;
}
#textarea, #textarea2, #textarea3{
    border: 1px solid #2e2e2e;
    border-radius: .28571429rem;
}
#label{
    font-size: 18px;
    margin-left: 180px;
}
#label2{
    font-size: 18px;
    margin-left: 300px;
}
#label3{
    margin-left: 80px;
}
#category{
    font-size: 18px;
    margin-top: 20px;
    margin-right: 40px;
    /*text-align: center;*/
}
#cardInfo{
    margin: auto;
}
#makeFlashcard{
    height: 200px;
    width: 350px;
}
#newFlashcardPlacement{
    margin-left: 50px;
}
#newFlashcardPlacement2{
    margin-right: 50px;
}
#circleIcon{
    margin: 10px;
}
h6{
    font-size: 22px;    
}